/*
 * @Author: dyb-dev
 * @Date: 2025-09-12 22:01:38
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-09-13 14:25:15
 * @FilePath: /react-web-template/src/components/popup/DemoPopup/Children/Children.scss
 * @Description: 子组件样式
 */

.demo-popup__children {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;

    &__title {
        font-weight: bold;
        font-size: 50px;
    }
}
