/*
 * @FileDesc: 子组件样式
 */

.demo-popup__children {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;

    &__title {
        font-weight: bold;
        font-size: 50px;
    }
}
