/*
 * @Author: dyb-dev
 * @Date: 2025-02-19 12:59:47
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-02-20 15:40:18
 * @FilePath: /react-web-template/src/components/LoadBox/LoadBox.scss
 * @Description: 加载盒子样式
 */

.load-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
