/*
 * @FileDesc: index 子路由样式
 */

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #04a3ff;

    &__title {
        margin-top: 100px;
        margin-bottom: 100px;
        color: var(--text-color);
        font-size: 44px;
        text-align: center;
    }
}
