/*
 * @Author: dyb-dev
 * @Date: 2025-09-09 01:51:48
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-09-13 18:00:26
 * @FilePath: /react-web-template/src/components/LoadingWrapper/LoadingWrapper.scss
 * @Description: 加载中包装组件样式
 */

.loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
