/*
 * @FileDesc: css变量模块
 */

/** CODE: 项目基础css变量 */
:root {
    /** 颜色调色板 */
    --color-black: #000;
    --color-white: #fff;
    --color-gray-1: #f7f8fa;
    --color-gray-2: #f2f3f5;
    --color-gray-3: #ebedf0;
    --color-gray-4: #dcdee0;
    --color-gray-5: #c8c9cc;
    --color-gray-6: #969799;
    --color-gray-7: #646566;
    --color-gray-8: #323233;
    --color-red: #ee0a24;
    --color-blue: #1989fa;
    --color-orange: #ff6430;
    --color-green: #07c160;
    --color-yellow: #ff976a;
    --color-wathet: #e7f1ff;

    /** 渐变色 */
    --color-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
    --color-gradient-blue: linear-gradient(to right, #64b5f6, #1989fa);
    --color-gradient-orange: linear-gradient(to right, #ff8f5a, #ff6430);
    --color-gradient-green: linear-gradient(to right, #66bb6a, #07c160);
    --color-gradient-yellow: linear-gradient(to right, #ffd01e, #ff8917);

    /** 基础字体族 */
    --base-font:
        -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui",
        "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    /* 基础字体大小 */
    --base-font-size: 10px;
    /** 价格字体族 */
    --price-font: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;

    /* 间距变量 */
    --spacing: 1px;

    /* IOS 顶部和底部 安全区域 支持IOS 11.2 及以上的系统版本 */
    --safe-area-top-height: env(safe-area-inset-top);
    --safe-area-bottom-height: env(safe-area-inset-bottom);

    /** 状态颜色 */
    --primary-color: var(--color-blue);
    --success-color: var(--color-green);
    --danger-color: var(--color-red);
    --warning-color: var(--color-orange);

    /** 文本颜色 */
    --text-color: var(--color-gray-8);
    --text-color-2: var(--color-gray-6);
    --text-color-3: var(--color-gray-5);

    /** 激活状态颜色 */
    --active-color: var(--color-gray-2);

    /** 背景颜色 */
    --background: var(--color-gray-1);
    --background-2: var(--color-white);
    --background-3: var(--color-white);

    /** 边框颜色 */
    --border-color: var(--color-gray-3);
}

/** CODE: 暗黑主题下文档根元素css变量 */
.theme-dark {
    /** 文本颜色 */
    --text-color: #f5f5f5;
    --text-color-2: #707070;
    --text-color-3: #4d4d4d;

    /** 激活状态颜色 */
    --active-color: #3a3a3c;

    /** 背景颜色 */
    --background: #000;
    --background-2: #1c1c1e;
    --background-3: #37363b;

    /** 边框颜色 */
    --border-color: #3a3a3c;
}

/** CODE: 提高css优先级 覆盖 ant-design-mobile 的基础css变量 */
/* stylelint-disable-next-line no-duplicate-selectors */
:root:root {
    /** ant-design-mobile 颜色调色板 */
    --adm-color-white: var(--color-white);
    --adm-color-text-dark-solid: var(--color-black);
    --adm-color-light: var(--color-gray-5);
    --adm-color-box: var(--color-gray-2);
    --adm-color-weak: var(--color-gray-7);

    --adm-color-yellow: var(--color-yellow);
    --adm-color-orange: var(--color-orange);
    --adm-color-wathet: var(--color-wathet);

    --adm-font-family: var(--base-font);

    --adm-color-primary: var(--primary-color);
    --adm-color-success: var(--success-color);
    --adm-color-danger: var(--danger-color);
    --adm-color-warning: var(--warning-color);

    --adm-color-text: var(--text-color);
    --adm-color-text-secondary: var(--text-color-2);

    --adm-color-background: var(--background);

    --adm-color-border: var(--border-color);
}
