/*
 * @FileDesc: 404页面样式
 */

.not-found {
    :global {
        .adm-result-page-bg {
            background: var(--danger-color);
        }

        .adm-button-primary {
            background: var(--danger-color);
            border-color: var(--danger-color);
        }
    }
}
