/*
 * @Author: dyb-dev
 * @Date: 2025-09-12 23:52:21
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-09-13 17:57:16
 * @FilePath: /react-web-template/src/components/EmptyWrapper/EmptyWrapper.scss
 * @Description: 空状态包装组件样式
 */

.empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
