/*
 * @FileDesc: 立方体组件样式
 */
.cube {
    position: relative;
    width: 100%;
    margin-top: 350px;

    .img {
        width: 100%;
        height: 100%;
    }

    .cube__box {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        transform: rotateX(-30deg) rotateY(-80deg);
        transform-style: preserve-3d;
        animation: rotate linear 20s infinite;

        /* 大正方体样式 */
        &__max {
            position: absolute;
            width: 200px;
            height: 200px;
            opacity: 0.8;
            transition: all 0.4s;

            &__front {
                transform: rotateY(0deg) translateZ(100px);
            }

            &__back {
                transform: translateZ(-100px) rotateY(180deg);
            }

            &__left {
                transform: rotateY(-90deg) translateZ(100px);
            }

            &__right {
                transform: rotateY(90deg) translateZ(100px);
            }

            &__top {
                transform: rotateX(90deg) translateZ(100px);
            }

            &__bottom {
                transform: rotateX(-90deg) translateZ(100px);
            }
        }

        /* 小正方体样式 */
        &__min {
            position: absolute;
            top: 50px;
            left: 50px;
            width: 100px;
            height: 100px;

            &__front {
                transform: rotateY(0deg) translateZ(50px);
            }

            &__back {
                transform: translateZ(-50px) rotateY(180deg);
            }

            &__left {
                transform: rotateY(-90deg) translateZ(50px);
            }

            &__right {
                transform: rotateY(90deg) translateZ(50px);
            }

            &__top {
                transform: rotateX(90deg) translateZ(50px);
            }

            &__bottom {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }

        &--active .cube__box__max__front {
            transform: rotateY(0deg) translateZ(200px);
        }

        &--active .cube__box__max__back {
            transform: translateZ(-200px) rotateY(180deg);
        }

        &--active .cube__box__max__left {
            transform: rotateY(-90deg) translateZ(200px);
        }

        &--active .cube__box__max__right {
            transform: rotateY(90deg) translateZ(200px);
        }

        &--active .cube__box__max__top {
            transform: rotateX(90deg) translateZ(200px);
        }

        &--active .cube__box__max__bottom {
            transform: rotateX(-90deg) translateZ(200px);
        }

        @keyframes rotate {
            from {
                transform: rotateX(0deg) rotateY(0deg);
            }
            to {
                transform: rotateX(360deg) rotateY(360deg);
            }
        }
    }
}
