/*
 * @Author: dyb-dev
 * @Date: 2025-09-10 22:13:58
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-09-13 14:19:12
 * @FilePath: /react-web-template/src/views/home/home.module.scss
 * @Description: 首页样式
 */

.home {
    display: flow-root;
    width: 100%;
    height: 100%;
    overflow: auto;

    &__logo-box {
        display: flex;
        gap: 0 60px;
        align-items: center;
        justify-content: center;
        margin: 100px 0 100px;

        &__item {
            height: 150px;
            transition: filter 300ms;
            transition: all 0.5s;
            will-change: filter;

            &-react:hover {
                transform: scale(1.1);
                filter: drop-shadow(0 0 2em #58c4dc);
            }

            &-vite:hover {
                transform: scale(1.1);
                filter: drop-shadow(0 0 2em #646cffaa);
            }
        }
    }

    &__button {
        width: 650px;
        margin: 100px auto 0;
        color: var(--text-color);
    }

    &__outlet {
        width: 86%;
        height: 66.667vw;
        margin: 0 auto;
        margin-top: 100px;
    }
}
