/*
 * @Author: dyb-dev
 * @Date: 2025-02-16 22:52:14
 * @LastEditors: dyb-dev
 * @LastEditTime: 2025-09-13 14:39:31
 * @FilePath: /react-web-template/src/views/login/login.module.scss
 * @Description: 登录页样式
 */

.login {
    display: flow-root;
    width: 100%;
    height: 100%;

    &__form {
        width: 650px;
        margin: 200px auto 100px;
        padding: 40px;
        background: var(--background-2);
        border-radius: 20px;
        box-shadow: 0px 0px 24px rgba(202, 202, 202, 0.3);
    }

    &__button {
        width: 650px;
        margin: 0 auto 50px;
        color: var(--text-color);
    }
}
